<div class="container ">
  <div class="row cover">
    <img src="assets/img/book-cover.jpg">
  </div>
  <div class="row justify-content-center">
    <div class="toc col-11 col-sm-11 col-md-8 col-lg-8">
      <h5 class="centered">
        Оглавление
      </h5>
      <ol>
        <li>
          <a class="toc-chapter" href="#toc_intro">Введение</a>
          <ol>
            <li><a href="#toc_intro_1">Слово редактора</a></li>
            <li><a href="#toc_intro_2">Слово от авторов</a></li>
            <li><a href="#toc_intro_3">Люди-мультипотенциалы и сканеры</a></li>
          </ol>
        </li>
        <li>
          <a class="toc-chapter" href="#toc_howto">Как пользоваться книгой?</a>
        </li>
        <li>
          <a class="toc-chapter" href="#toc_1">Глава 1. Что вы делаете и не делаете, но хотите</a>
          <ol>
            <li>
              <a href="#toc_1_1">Упражнения 1.1 - Спросите и ответят вам</a>
            </li>
            <li>
              <a href="#toc_1_2">Упражнения 1.2 - Уборка в кладовой ценностей</a>
            </li>
            <li>
              <a href="#toc_1_3">Упражнения 1.3 - На что вы в действительности тратите свою жизнь</a>
              <ol>
                <li>
                  <a href="#toc_1_3_1">Упражнения 1.3.1 - Ваш вчерашний день</a>
                </li>
                <li>
                  <a href="#toc_1_3_2">Упражнения 1.3.2 - Ваша неделя</a>
                </li>
              </ol>
            </li>
            <li>
              <a href="#toc_1_4">Упражнения 1.4 - Подводим итоги</a>
            </li>
            <li>
              <a href="#toc_1_5">Упражнение 1.5 Делаем выводы</a>
            </li>
          </ol>
        </li>
        <li>
          <a class="toc-chapter" href="#toc_1">Глава 2. Ваш профессиональный багаж</a>
          <ol>
            <li>
              <a href="#toc_2_1">Упражнение 2.1 “Презентация в лифте”</a>
            </li>
            <li>
              <a href="#toc_2_2">Упражнение 2.2 Опыт равно богатство</a>
            </li>
            <li>
              <a href="#toc_2_3">Упражнение 2.3. Ваши сильные стороны</a>
            </li>
            <li>
              <a href="#toc_2_4">Упражнение 2.4. Ваши слабые стороны.</a>
            </li>
            <li>
              <a href="#toc_2_5">Упражнение 2.5. Не наблюдаем часов: счастливое рабочее время</a>
            </li>
            <li>
              <a href="#toc_2_6">Упражнение 2.6. “Терпеть ненавижу”: нелюбимые рабочие задачи</a>
            </li>
          </ol>
        </li>    
        <li>
          <a class="toc-chapter" href="#toc_3">Глава 3. Аудит ваших предрасположенностей	</a>
          <ol>
            <li>
              <a href="#toc_3_1">Упражнение 3.1 Свободное время: убить или наполнить?	</a>
            </li>
            <li>
              <a href="#toc_3_2">Упражнение 3.2. Взгляд в прошлое: вспоминаем детство</a>
            </li>
            <li>
              <a href="#toc_3_3">Упражнение 3.3. Семейный альбом: родители, бабушки и дедушки - профессионалы своего дела.</a>
            </li>
            <li>
              <a href="#toc_3_4">Упражнение 3.4. Ищем улики: книги, фильмы, журналы как отражение ваших увлечений	</a>
            </li>
            <li>
              <a href="#toc_3_5">Упражнение 3.5. Ваши достижения - повод для гордости	</a>
            </li>
          </ol>
        </li>              
      </ol>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col text-col">
      <h3 id="toc_intro" class="chapter">
        Введение
      </h3>
      <h5 id="toc_intro_1" class="section">
        Слово редактора
      </h5>
      <app-list [ctrl]="'1.2'" [header]="'Жизненные приоритеты'" [placeholder]="'приоритет'"
                [dragAndDrop]="true"></app-list>
      <app-list [ctrl]="'1.3'" [header]="'Рабочие дела'" [placeholder]="'дело'" [emoji]="true"
                [dragAndDrop]="true"></app-list>
      <app-list [ctrl]="'1.4'" [header]="'Сферы жизни'" [placeholder]="'сфера'" [rating]="true"></app-list>
      <app-text-area [ctrl]="'1.1'"></app-text-area>

      <p>
        Я – большой поклонник литературы “селф хелп”, поэтому для меня было особым удовольствием работать над книгой и
        иметь доступ к самым последним разработкам по поиску своего призвания. И хотя мне казалось, что давно нашла себя
        в
        работе с текстом, неожиданно я стала осознавать что в любой профессии есть способы расти не только вверх, но и
        вширь, используя талант и навыки в новой сфере.Так, неожиданно для себя, во время редактирования книги, я
        обнаружила, что ищу ораторские курсы – ведь я имею опыт в написании сценариев, речей, скриптов. Почему я никогда
        не думала сама заняться выступлениями? Я ведь люблю публику, будь то читатель или зритель. Эта книга указала мне
        новый путь, выйти из-за кулис в прямом смысле. Уверена, что для вас, дорогой читатель, она станет добрым другом
        и
        помощницей в поисках своего призвания.
      </p>
      <p class="signature">Нина Полтар, редактор</p>

      <h5 id="toc_intro_2" class="section">
        Слово от авторов
      </h5>
      <p>
        Приветствуем тебя, любопытный читатель! Да-да, поверь, мы знаем, кто приходит на курс - среди вас нет тех, кто с
        радостью останется лежать на диване и смотреть телевизор оставшиеся 20-40-60 и более лет. Именно для таких
        активных и смелых людей (ведь это очень страшно что-то менять - поверьте, нам тоже) мы и начали несколько лет
        назад создавать эту книгу. И это был период огромного числа споров, ссор и итоговых успехов!
      </p>
      <p>
        И не передать словами, как мы счастливы выпустить наконец-то в свет эту книгу-тренинг о выборе любимого дела!
      </p>
      <p>
        У вас в руках не обычный курс - ведь помимо психологии, коучинга и карьерного консультирования, он основан на
        уникальных данных 200 глубинных интервью с ведущими профессионалами самых разных сфер, которые мы собрали для
        проекта “На своем месте”. Вы можете и сами их изучить - особенно в интересной для вас сфере. Своим опытом поиска
        и
        профессиональной реализации с нами поделились, например, такие интересные люди, как историк моды Александр
        Васильев, народный артист России и руководитель медицинского центра Валентин Дикуль, основатель одного из
        крупнейших в мире агентств по киберпреступлениям Илья Сачков, потомственная мастерица дымковской игрушки Лариса
        Фалалеева, главный врач Сборной России по футболу и еще 195 (на самом деле, больше) выдающихся людей
        современности. Как видите, профессии совершенно разные, но что объединило истории этих людей, так это то, что
        люди
        получают удовольствие и достаточный доход от выбранного дела!
      </p>
      <p>
        Сейчас на полках магазинов представлен необычайно широкий выбор пособий по успеху, как в бизнесе, так и в
        творческих профессиях. Все более востребованными становятся карьерные консультанты. И это неспроста - мир
        меняется
        с бешеной скоростью, многие профессии автоматизируются техникой и исчезают, но также быстро появляются новые
        невероятные возможности. Нам, авторам данной книги, очевидно, что если долго и упорно идти к своей цели, то
        обязательно ее достигнешь. На двоих у нас 5 высших образований – от IT и приборостроения до маркетинга, MBA и
        психологии, а также десятки курсов по самым разным дисциплинам – ораторскому искусству, дизайну и актерскому
        мастерству. Мы жили и работали во множестве стран (Россия, США, Франция, Великобритания, Австралия) и знаем на
        собственном опыте, как найти свое место в любой точке мира. Как не зависеть от места и зарабатывать удаленно
        столько, сколько хочется. Как создать успешный и не очень бизнес, проводить краудфандинг, бесплатно учиться за
        рубежом и как найти работу в новой стране в крупнейшей консалтинговой компании мира. Если вас заинтересовал наш
        опыт с его взлетами и падениями, вы можете найти наши подробный биографии в конце данной книги.
      </p>
      <p>
        Все это, конечно, замечательно, но что делать, если нет понимания, чем хочешь заниматься? Или есть, но хочется
        освоить несколько разных профессий, и непонятно за что браться? С чего начать? Как выбрать одну единственную
        цель
        и не ошибиться? С подобными вопросами люди обычно и начинают свой путь в выборе любимого дела - и это абсолютно
        нормально! Как и желание что-то изменить, жить лучше и получать от работы не только деньги, но и удовольствие
        (да,
        не все 100% времени, но большую часть).

      </p>
      <p>
        Если вы до сих пор не решили, кем станете, когда вырастете (а мы считаем, что внутри каждого из нас всю жизнь
        живет ребенок, мечтающий о великих приключениях) – в таком случае эта книга-тренинг для вас! Не важно, студент
        ли
        вы или уже добились внушительных успехов в определенной профессиональной сфере, никогда не поздно и тем более не
        рано задуматься: а делает ли ваша работа вас счастливее.

      </p>
      <p>
        Мы на себе опробовали огромное количество различных профессий, заданий, тестов и упражнений по поиску призвания,
        прочли сотни книг по психологии и самореализации, собрали самое ценное из проведенных интервью и
        проконсультировали сотни людей, чтобы найти то, что реально работает. На базе всего этого родился наш курс по
        поиску себя и эта книга, которую вы читаете прямо сейчас. Данный курс похож на сканер тела, который идет сверху
        и
        вниз, проверяя каждую “косточку” и “мышцу” нашего интеллектуальной и эмоциональной составляющей, чтобы найти то
        место, где таится важная информация про наше любимое дело (иногда и не одно).
      </p>
      <p>
        Сразу скажем, что нет единого рецепта для поиска счастья, в том числе профессионального. Если захотите в этом
        убедиться на примерах, то прочитайте книгу “На своем месте” Надежды Тарасовой. Мы считаем, что отсутствие одного
        пути для всех – это хорошая новость. Все люди разные, и каждый из нас ценен и интересен именно таким, какой он
        есть. Многих из нас в детстве не научили учитывать и ценить особенности своей личности, поэтому-то мы не ищем
        истинное призвание, а тратим время на то, чтобы повторить чужой путь к успеху. Стоит отметить, что даже следуя
        понятными шагами мы не так уж и часто ошибаемся и все-таки выбираем нередко то, что нам реально близко - около
        трети людей, проходящих курс, понимали в итоге, что в целом они выбрали верную для себя сферу и она им больше
        всего подходит! Для нас это сначала было шоком, но позже мы увидели, ,что в рамках сферы тоже можно пойти не
        туда
        - возможно, маршрут был подобран не подходящий и привел в тупик или коллектив попался склочный и это угнетает. В
        любом случае, такое открытие уже дает возможность профессионалу искать новые возможности в своей области -
        поменять компанию на ту, что больше близка по духу, или выстраивать новую карьерную траекторию в своей нише. Так
        многие наши клиенты обрели понимание, куда можно развиваться, оставаясь в профессиональной сфере, чтобы
        применить
        максимум своих способностей, реализовать накопленный опыт и преодолеть возникшие проблемы..
      </p>
      <p>
        Несмотря на то, что нет единого для всех шаблона по поиску своего призвания, есть эффективные упражнения,
        которые
        позволят вам раскрывать шаг за шагом свой потенциал, а с нашей методикой вы постепенно выведите формулу своего
        успеха. Но самое главное: распланируете свой маршрут к любимому делу и счастливому образу жизни. Мы считаем, что
        упражнения по поиску своего дела не должны идти в отрыве от практического применения, ведь тогда теряется весь
        смысл. Есть люди, которые годами ищут призвание и делают это в голове! Так не работает. Эта книга написана
        практиками для практиков. Как бы страшно не было, начните тестировать этот мир - именно пробами, попытками и
        даже
        провалами и определяется успех многих дел. Огромное количество людей попробовали от 5 до 10 профессий прежде чем
        найти свое. Максимальное число среди гостей проекта На своем месте было 30! Конечно, этот человек в итоге
        уникален
        своими компетенциями и уже точно знает, что хочет. Мы, конечно, не предлагаем вам следовать его примеру - но при
        этом мы при анализе всегда находим от 3 до 10 траекторий, куда вам стоит попробовать применить свои таланты. Вы
        всегда можете обратиться к нам, если вам сложно пройти курс самим и нужна поддержка или вы ответили на все
        задания
        и хотите, чтобы мы сами проанализировали ответы и предоставили список от 3 до 10 подходящих вам профессий и
        способов протестировать их на практике.
      </p>
      <p>
        Наши ученики, прошедшие данный курс, порой были удивлены полученными результатами, но всегда эти результаты
        приводили к переменам в их жизни. Некоторым участникам курса озарение приходило молниеносно и с первых заданий
        позволяло начать двигаться в выбранном направлении. Другим требовалось больше времени после прохождения курса,
        чтобы выбрать свое любимое дело. А были и те, кто осознал, что их текущая работа подходит им больше всего, а
        мешают быть счастливым и успешным в ней другие причины, зачастую даже не связанные с работой.
      </p>
      <p>
        Решив прочитать эту книгу-тренинг, рабочую тетрадь для поиска своего дела, вы оказались на пороге открытий и
        новых
        свершений!
      </p>
      <p class="signature">Мила Ребиндер, Надя Тарасова, авторы</p>

      <h5 id="toc_intro_3" class="section">
        Люди-мультипотенциалы и сканеры
      </h5>
      <p>
        Мы родились в мире, где нам с детства внушают, что мы должны. Нет! – просто обязаны определиться с самым важным,
        одним единственным делом на всю жизнь, которое непременно принесет нам и удовольствие, и доход. И все бы ничего,
        но такой подход заставляет многих страдать, отказываясь от интересных вещей, чтобы следовать нормам. К тому же в
        мире, где все меняется каждые 5-10 лет - появляются новые методики лечения, обучения, приготовления еды, дизайна
        помещений и т.п. Сложно не заметить, как автоматизируется огромное количество функций и профессий, а новые
        должности появляются прямо на глазах, т.ч. такой подход может быть не только угнетающим, но и просто губительным
        для многих сфер работы.

      </p>
      <p>
        К счастью, в последние годы все больше людей совмещают 2-3-5-10 своих талантов в ежедневной деятельности. К
        примеру, есть такие уникальные люди, которые берут заказы по рисованию пародийных портретов и параллельно пишут
        тексты для телепередач. Они совмещают роли и кайфуют от того, что им удалось воплотить все свои таланты, а не
        ограничиваться каким-то одним. Да, чаще всего им приходится уходить во фриланс или открывать свой бизнес. Но это
        стоит того! И вообще уровень удовлетворенности от профессии состоит во многом из того, как много своих сильных
        сторон вам удается реализовать в них.
      </p>
      <p>
        Мы рады сообщить вам, что теперь такие люди-любители разных сфер не одиноки. Ведь на эту тему уже написаны книги
        и
        сняты видео, в том числе для ТЕD – огромное количество людей наконец получает официальное подтверждение, что это
        нормально иметь несколько разных увлечений и нужно научиться использовать их по максимуму. Если вы чувствуете в
        себе такую проблему - обязательно найдите информацию о мультипотенциалах (Книга “Отказываюсь выбирать” Барбары
        Шер
        и видео с ТЕDx про людей-мультипотенциалов).

      </p>
      <p>
        Или спросите нас. Наша книга направлена не на ограничение выбора, а на расширение своего потенциала и
        возможностей.
      </p>
      <p>Начнем? </p>
      <h3 id="toc_howto" class="chapter">
        Как пользоваться книгой?
      </h3>
      <p>Данная книга – инструмент, с помощью которого вы строите будущее, роете клад, мчитесь навстречу мечте…
        выбирайте
        сравнение по душе, и приступайте к делу.
      </p>
      <p>Главное преимущество книги перед курсами и семинарами – это возможность делать все в своем ритме. И хотя мы,
        авторы, не любим откладывать задуманное на потом и рекомендуем доводить начатое до конца, превозмогая лень и
        сомнения, но мы также понимаем, что разные жизненные ситуации могут привести к тому, что на себя время не
        остается. Так вот наша книга будет верным помощником на пути поиска своего призвания – ведь упражнения можно
        выполнять со своей скоростью. Главное - поставьте себе срок - лучше всего месяц, за который вы выполните все
        упражнения. Знайте же, что если вам понадобиться дополнительная поддержка, то вы сможете выбрать более
        подходящий
        формат выполнения практик по поиску своего любимого дела. У каждого из нас есть каждодневные обязанности, будь
        то
        семья, работа, учеба, дела по дому или что-то другое. Эти дела часто занимают беспощадно все наше время. Поэтому
        если вы поймете, что не готовы сами делать все задания, вы всегда можете прийти на наш онлайн-курс или работать
        с
        нами, авторами книги, в индивидуальном формате. Вы будете более мотивированы все делать вовремя, а также
        обретете
        новый разнообразный круг общения, увидите проблемы и решения подобных вашим проблем со стороны.</p>
      <p>Итак, в книге все выстороено очень просто – отвечайте на задания внутри нее, не спешите, уделите каждому
        столько
        времени, сколько оно потребует. Тем не менее мы указываем количество часов, которое занимает каждое из
        упражнений
        в среднем. Если вам потребуется меньше или больше, не волнуйтесь – это нормально. Время указано лишь для того,
        чтобы вам было проще ориентироваться и планировать свой маршрут на пути поиска любимого дела. В среднем курс
        занимает около месяца, если заниматься им около одного часа в день. Кому-то покажется невозможным найти целый
        лишний час в день, но не отчаивайтесь: большое путешествие всегда начинается с маленького шага. Какие-то
        упражнения вы будете делать быстро, а над какими-то захотите задуматься. Просто помните, что успех здесь зависит
        не от скорости, а от постоянства. Поставьте себе цель – найти дело по душе – и смело отправляйтесь в путь!
      </p>
      <p>А теперь внимание: единственное место, где есть строгий порядок – это первые три задания. Потерпите и не
        заглядывайте вперед: от последовательности зависит результат. </p>
      <p>Наши общие рекомендации: выполнять задания в той последовательности, как они представлены в книге, потому что
        так
        яснее будет логика заполнения итоговой картины, но в целом мы оставляем последовательность на ваше усмотрение.
        Вы
        можете отложить некоторые задания и вернуться к ним позже. Однако, не забывайте, что резкая неприязнь к
        упражнению
        – это сильная психологическая реакция. Часто именно задание, которое больше всего не нравится или очень лень
        делать, скрывает за собой наибольший потенциал. Психике свойственно сопротивляться переменам, даже если мы их
        очень хотим. Поэтому постарайтесь уделить максимум внимания тем заданиям, которые вызовут у вас такие сильные
        реакции, как раздражение, грусть, гнев, возмущение. Не надо перебарывать себя, просто сделайте упражнение как
        получится – иногда самые простые действия приносят наибольший результат.
      </p>
      <p>В самом конце книги мы приведем перечень наиболее удобных вариантов протестировать самые различные профессии,
        которые вы выбрали, на практике без потери текущего места работы. На наш взгляд, это ключевой момент – ведь
        иногда
        для поиска любимого дела может потребоваться несколько лет, а для кого-то это путь развития длиною в жизнь,
        поэтому очень важно сохранять текущие доходы, конечно, если у вас нет существенных денежных накоплений,
        позволяющих взять паузу.
      </p>
      <p>После завершения работы по нашей книге-тренинге, у вас в руках будет достаточно материала, чтобы распланировать
        свой карьерный план на несколько лет вперед. Для этого мы даем дополнительные упражнения в 7 главе. Вы можете
        распечатать листы с выполненными упражнениями, собрать их все в определенном порядке, чтобы увидеть полную
        картину
        вашего прошлого и настоящего
      </p>
      <p>Когда все задания будут выполнены, у вас также есть возможность получить дополнительный профессиональный взгляд
        со стороны на вашу ситуацию. Для этого достаточно отправить нам ваши ответы и получить подробный анализ с
        перечнем
        из 3-5 профессий, которые вам могут подойти, и вариантами того, как вы сможете протестировать каждую из
        профессий
        на практике.
        Также вы всегда можете обратиться к нам, авторами книги, за индивидуальными консультациями.
      </p>
      <h3 id="toc_1" class="chapter">
        Глава 1. Что вы делаете и не делаете, но хотите
      </h3>
      <p>
        Ответить на вопрос “Чего я хочу?” бывает не так просто. Будучи детьми мы смело мечтаем, но не знаем, как
        реализовать свои мечты. А взрослые в свою очередь описывают свои сомнения и опасения – и это тоже нормально! Мы
        не
        призываем вас бросить все и поверить в силу мысли, это было бы неразумно. Но мы настоятельно рекомендуем вам
        использовать все ваши навыки и способности. В ходе выполнения заданий, мы будем обращаться поочередно то к
        внутреннему взрослому, то к внутреннему ребенку, чтобы из их командной работы получить максимум результата.

      </p>
      <p>
        Наша цель в первой главе вспомнить того ребенка в вашей душе, который умел мечтать и занимался с радостью тем,
        что
        ему нравится, а потом дать задание взрослому найти способы реализации, ведь он такой опытный и сильный. И
        поверьте
        нам возраст здесь только плюс! Многих смущает возраст – ведь те, кто сами приходят на курс, чаще всего уже не
        подростки, а вполне состоявшиеся люди и специалисты. По нашему опыту, в 30-45 лет вполне подходящее время для
        профессионального самоопределения. Именно сейчас у вас достаточно опыта, и не только рабочего, но и социального.
        Прежде всего, вы уже знаете, что вам категорически не нравится, ведь всегда проще ответить на вопрос “Чего я не
        хочу?” Вы умеете работать, находить и устанавливать связи, не боитесь выбирать и ставить цели.

      </p>
      <p>
        Давайте теперь сосредоточимся на своих мечтах и желаниях.
      </p>
      <h5 id="toc_1_1" class="section">
        Упражнения 1.1 - Спросите и ответят вам
      </h5>
      <p class="duration">Примерная длительность упражнения: 30 минут</p>
      <p>
        Как известно, правильная постановка вопроса несет в себе зачастую половину ответа.
      </p>
      <blockquote class="blockquote">
        <p class="centered">Чего я хочу? Почему я держу в руках эту книгу?</p>
      </blockquote>
      <p>
        Важно понять, что именно вы ждете от выполнения заданий. Ответ может перекликаться с вашими карьерными
        ожиданиями,
        открывая новые горизонты в вашей профессиональной сфере. А может, пора задуматься о смене направления или вообще
        всего стиля жизни.
      </p>
      <p>
        Сейчас, перед выполнением первого задания, вы как бы стоите на перекрестке. Представьте себе этот жизненный
        перекресток. У кого-то это будет, оживленная городская среда, у кого-то лесные тропинки, а у вас, может быть,
        одна
        из дорог будет вести к морю. Переполняет ли вас волнение или вы ощущаете решимость действовать? Помните, что у
        тех, кому за тридцать – меньше шансов совершить ошибку, поддаться импульсу, моде или чужому влиянию в выборе
        профессии, а значит возрастают шансы на то, что сейчас вы найдете то, чем будете заниматься еще долгое время,
        реализуя свои таланты. Разве это не прекрасно: знать, что именно сейчас вы найдете то, чем сможете с увлечением
        заниматься еще долгие годы?
      </p>
      <p>
        Выполняя следующее задание, вы как бы фиксируете пункт назначения путешествия. Эта книга поможет найти то, что
        принесет вам радость и доход.
      </p>
      <p>
        Итак, попробуйте максимально открыто и честно написать ниже, что именно побуждает вас сейчас держать в руках эту
        книгу и посвящать ваше время на выполнение предложенных упражнений. Запишите все спонтанные мысли, которые
        приходят вам сейчас в голову.
      </p>
      <app-text-area [ctrl]="'1.1'"></app-text-area>
      <h5 id="toc_1_2" class="section">
        Упражнения 1.2 - Уборка в кладовой ценностей
      </h5>
      <p class="duration">Примерная длительность упражнения: 1 час</p>
      <p>
        В отличие от домашней уборки уборка в кладовой ценностей не такое пыльное занятие, но важность этого шага нельзя недооценивать: как говорится, можно поднять паруса, но если у вас нет направления, то есть риск приплыть не туда. Обычно так и получается: сложнее всего, когда мы не знаем, чего хотим. В мире столько возможностей, но, чтобы понять, подходит ли вам то или иное направление профессиональной деятельности, хорошо бы познакомиться с собой и со своими ценностями поближе.
      </p>
      <p>
      Реализуя себя через те ценности, которые нам близки, мы получаем ресурсы и вдохновение. Усталость от дела, которое мы искренне считаем важным, приводит к той приятной усталости в конце дня, когда мы чувствуем, что день прожит не зря. И речь здесь не обязательно о благотворительности и помощи близким, хотя это и один из вариантов возможных ценностей. Ценности – это не о том, что делает вас хорошим в глазах окружающих. Это о том, что дает вам моральное удовлетворение собой и своими поступками.
    </p>
    <p>
      Итак, сядьте поудобнее, отключите телевизор и соцсети на некоторое время. Можете налить себе чашечку ароматного чая. Теперь запишите в левую колонку все то, что кажется вам ценным, важным и стоящим того, чтобы это делать. Не ограничивайте себя, сейчас главное написать все, что придет в голову. Кому-то важны семейный ценности, саморазвитие и духовные практики, другие направлены на карьеру и общение, и, конечно, многим из нас хотелось бы все это совмещать. Пишите все, что представляет важность именно для вас.
    </p>
    <p>
      Когда список готов, можете передохнуть, или переходите сразу к делу – как вам удобнее. Сейчас нам надо расставить приоритеты в порядке убывания важности. В процессе анализа, вы можете увидеть, что некоторые ценности пересекаются. Обратите на них внимание и выделите (подчеркните или обозначьте другим цветом).
    </p>
    <app-list [ctrl]="'1.2'" [header]="'Список жизненных ценностей'" [placeholder]="'приоритет'"
    [dragAndDrop]="true"></app-list>
      <p>TBC</p>
    </div>
  </div>
</div>
<button class="btn btn-primary" class="logout" (click)="onLogout()"><span class="fas fa-sign-out-alt"></span></button>




