@import "node_modules/bootstrap/scss/bootstrap.scss";

a:link {
  color: #12AEFF;
}

/* visited link */
a:visited {
  color: #12AEFF;
}

/* mouse over link */
a:hover {
  color: #12AEFF;
}

/* selected link */
a:active {
  color: #12AEFF;
}



.cover img { width: 100%; height: 100vh; object-fit: contain;  }

p { text-indent: 2rem }

.text-col {
  @extend .col-11;
  @extend .col-md-8;
}

.centered {
  text-align: center;
}

.toc {
  margin-top: 3rem;
  margin-bottom: 5rem
  }

.toc ol, li {
 list-style: none;
}

.toc, .toc ol {
  padding-left: 0px;
}

.toc li {
  margin-left: 1rem;
}

.toc-chapter {
  font-weight: bold;
}

.chapter {
  margin-top: 12rem;
  text-align: center;
}

.section {
  margin-top: 6rem;
  text-align: center;
}

.signature{
  text-align: right;
  font-style: italic;
}

.duration{
 font-style: italic;
 text-align: left;
}

.logout { position:fixed; top:0; right:0; }



/* List */
.pretty-list ul {
  counter-reset: index;
  padding: 0px;
}

.pretty-list p { text-indent: 0px; }

.pretty-list ol {
  counter-reset: index;
  padding: 0px;
}

/* List element */
.pretty-list li {
  counter-increment: index;
  display: flex;
  align-items: center;
  padding: 12px 0;
  box-sizing: border-box;
}

.pretty-list li::before {
  content: counters(index, ".", decimal-leading-zero);
  font-size: 1.5rem;
  text-align: right;
  font-weight: bold;
  padding-right: 12px;
  font-variant-numeric: tabular-nums;
  align-self: flex-start;
  background-image: linear-gradient(to bottom, aquamarine, orangered);
  background-attachment: fixed;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


/* Element separation */
.pretty-list li + li {
  border-top: 1px solid rgba(255,255,255,0.2);
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}

.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-skype {
  background: #00aff0;
  color: white;
}

.fa-android {
  background: #a4c639;
  color: white;
}

.fa-dribbble {
  background: #ea4c89;
  color: white;
}

.fa-vimeo {
  background: #45bbff;
  color: white;
}

.fa-tumblr {
  background: #2c4762;
  color: white;
}

.fa-vine {
  background: #00b489;
  color: white;
}

.fa-foursquare {
  background: #45bbff;
  color: white;
}

.fa-stumbleupon {
  background: #eb4924;
  color: white;
}

.fa-flickr {
  background: #f40083;
  color: white;
}

.fa-yahoo {
  background: #430297;
  color: white;
}

.fa-soundcloud {
  background: #ff5500;
  color: white;
}

.fa-reddit {
  background: #ff5700;
  color: white;
}

.fa-rss {
  background: #ff6600;
  color: white;
}
