<div class="container h-100">
  <div class="row justify-content-center h-100">
    <div class="col-12 col-sm-10 col-md-6 col-lg-4 align-self-center">
      <h5 style="text-align:center">Earninlove вход</h5>
      <form [formGroup]="form" (ngSubmit)="onLogin(form.value)">
        <div class="form-group">
          <label for="email">
            Электронная почта
          </label>
          <input id="email" type="email" class="form-control" formControlName="email" placeholder="name@example.com">
        </div>

        <div class="form-group">
          <label for="password">
            Пароль
          </label>
          <input id="password" type="password" class="form-control" formControlName="password" placeholder="пароль">
        </div>
        <div class="form-group">
          <p *ngIf="error === ErrorType.UserNotFound" class="text-danger">Данная почта не зарегистрирована</p>
          <p *ngIf="error === ErrorType.NotAuthorized" class="text-danger">Введена неверная почта или пароль</p>
          <p *ngIf="error === ErrorType.EmailNotConfirmed" class="text-danger">Почта не подтверждена, пожалуйста
            обратитесь в службу поддержки: hi@earninlove.com</p>
          <p *ngIf="error === ErrorType.PasswordResetRequired" class="text-danger">Необходимо установить новый пароль,
            пожалуйста обратитесь в службу поддержки: hi@earninlove.com
          </p>
          <p *ngIf="error === ErrorType.Generic" class="text-danger">Произошла ошибка, пожалуйста повторите попытку
            позже или обратитесь в службу поддержки: hi@earninlove.com
          </p>
          <p>
            <a [routerLink]="['/forgotPassword']">Забыли пароль?</a>
          </p>
        </div>
        <button class="btn btn-primary" type="submit">Войти</button>
      </form>
    </div>
  </div>
</div>
