<div class="container h-100">
  <div class="row justify-content-center h-100">
    <div class="col-12 col-sm-10 col-md-6 col-lg-4 align-self-center">
      <h5 style="text-align:center">Восстановление пароля</h5>
      <form [formGroup]="form" (ngSubmit)="onForgotPasswordConfirm(form.value)">
        <div class="form-group">
          <label for="email">
            Электронная почта
          </label>
          <input id="email" type="email" class="form-control" formControlName="email" placeholder="name@example.com">
        </div>
        <div class="form-group">
          <label for="code">
            Код подверждения
          </label>
          <input id="code" type="password" class="form-control" formControlName="code" placeholder="secret code">
        </div>
        <div class="form-group">
          <label for="password">
            Пароль
          </label>
          <input id="password" type="password" class="form-control" formControlName="password" placeholder="password">
        </div>
        <div class="form-group">
          <p *ngIf="error !== ErrorType.None" class="text-danger">Произошла ошибка, пожалуйста повторите попытку
            позже или обратитесь в службу поддержки: admin@earninlove.com</p>
        </div>
        <button class="btn btn-primary" type="submit">Установить новый пароль</button>
      </form>
    </div>
  </div>
</div>
