<div class="component">
  <p *ngIf="header !== ''">{{header}}</p>
  <ul cdkDropList class="list-group" (cdkDropListDropped)="drop($event)">
    <li class="container list-group-item" *ngFor="let item of items; let i = index" cdkDrag>
      <div class="row">
        <div class="col-2 text-center">
          <button [hidden]="!dragAndDrop" class="btn btn-primary py-1 px-2" cdkDragHandle><i
            class="fas fa-arrows-alt"></i></button>
        </div>
        <div class="col-8 text-center">
          <app-emoji *ngIf="emoji" [(emoji)]="item.emoji"></app-emoji>
          <ngb-rating *ngIf="rating" [(rate)]="item.rating">
            <ng-template let-fill="fill" let-index="index">
              <span class="star" [class.filled]="fill === 100">&#9733;</span>
            </ng-template>
          </ngb-rating>
          <p>{{item.text}}</p>
        </div>
        <div class="col-2 text-center">
          <button class="btn btn-danger py-1 px-2" (click)="onRemoveAt(i)"><i class="fas fa-trash"></i></button>
        </div>
      </div>
    </li>
  </ul>
  <div class="input-group add-area">
    <div class="input-group-prepend">
      <button class="btn btn-primary" type="button" (click)="onAdd()">Добавить</button>
    </div>
    <input type="text" class="form-control" placeholder="{{placeholder}}" [(ngModel)]="itemText">
  </div>
  <div>
    <p *ngIf="state===ControlState.Loading" class="text-primary text-center">
      <i class="fas fa-spinner fa-spin text-icon"></i>загружаем данные
    </p>
    <p *ngIf="state===ControlState.LoadingError" class="text-danger text-center">
      <i class="fas fa-exclamation-circle text-icon"></i>произошла ошибка при загрузке данных, пожалуйста обновите страницу
    </p>
    <p *ngIf="state===ControlState.UpToDate" class="text-success text-center">
      все изменения сохранены
    </p>
    <p *ngIf="state===ControlState.HasChanges" class="text-primary text-center">изменения будут сохранены автоматически
    </p>
    <p *ngIf="state===ControlState.Saving" class="text-primary text-center"><i class="fas fa-spinner fa-spin text-icon"></i>сохраняем изменения</p>
    <p *ngIf="state===ControlState.Error" class="text-danger text-center"><i class="fas fa-exclamation-circle text-icon"></i>произошла ошибка при сохранении данных
    </p>
  </div>
</div>

