<div class="component">
  <p>{{header}}</p>
  <ul cdkDropList class="list-group" (cdkDropListDropped)="drop($event)">
    <li class="container list-group-item" *ngFor="let item of items; let i = index" cdkDrag>
      <div class="row">
        <div class="col-2 text-center">
          <button [hidden]="!dragAndDrop" class="btn btn-primary py-1 px-2" cdkDragHandle><i
            class="fas fa-arrows-alt"></i></button>
        </div>
        <div class="col-8 text-center">
          <app-emoji *ngIf="emoji" [(emoji)]="item.emoji"></app-emoji>
          <ngb-rating *ngIf="rating" [(rate)]="item.rating">
            <ng-template let-fill="fill" let-index="index">
              <span class="star" [class.filled]="fill === 100">&#9733;</span>
            </ng-template>
          </ngb-rating>
          <p>{{item.text}}</p>
        </div>
        <div class="col-2 text-center">
          <button class="btn btn-danger py-1 px-2" (click)="onRemoveAt(i)"><i class="fas fa-trash"></i></button>
        </div>
      </div>
    </li>
  </ul>
  <div class="input-group add-area">
    <div class="input-group-prepend">
      <button class="btn btn-primary" type="button" (click)="onAdd()">Добавить</button>
    </div>
    <input type="text" class="form-control" placeholder="{{placeholder}}" [(ngModel)]="itemText">
  </div>
  <div>
    <button [attr.disabled]="progress ? true : null" class="btn btn-primary" (click)="onSave()">
      <i *ngIf="progress" class="fas fa-spinner fa-spin"></i>
      <i *ngIf="!progress" class="fas fa-check"></i>
      <span></span>
      Сохранить изменения
    </button>
    <p *ngIf="error" class="text-danger">Произошла ошибка, попробуйте повторить попытку позже</p>
  </div>
</div>

