/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
}

html {
  scroll-behavior: smooth;
}

$theme-colors: (
  primary: #92DCCF
);
@import "node_modules/bootstrap/scss/bootstrap.scss";
$fa-font-path: "node_modules/@fortawesome/fontawesome-free/webfonts";
@import "node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
@import "node_modules/@fortawesome/fontawesome-free/scss/regular.scss";
