<div class="component">
  <div class="input-group textarea">
    <textarea class="form-control" style="width: 100%" aria-label="With textarea"
              [ngModel]="text" (ngModelChange)="setText($event)" [ngStyle]="{'min-height.rem': minHeight}"></textarea>
  </div>
  <div>
    <p *ngIf="state===ControlState.Loading" class="text-primary text-center">
      <i class="fas fa-spinner fa-spin text-icon"></i>загружаем данные
    </p>
    <p *ngIf="state===ControlState.LoadingError" class="text-danger text-center">
      <i class="fas fa-exclamation-circle text-icon"></i>произошла ошибка при загрузке данных, пожалуйста обновите
      страницу
    </p>
    <p *ngIf="state===ControlState.UpToDate" class="text-primary text-center">
      сохранено
    </p>
    <p *ngIf="state===ControlState.HasChanges" class="text-primary text-center">изменения будут сохранены автоматически
    </p>
    <p *ngIf="state===ControlState.Saving" class="text-primary text-center">
      <i class="fas fa-spinner fa-spin text-icon"></i>сохраняем изменения</p>
    <p *ngIf="state===ControlState.Error" class="text-danger text-center"><i
      class="fas fa-exclamation-circle text-icon"></i>произошла ошибка при сохранении данных
    </p>
  </div>
</div>
