<div class="component">
  <div class="input-group textarea">
    <textarea class="form-control" style="width: 100%; min-height:10rem" aria-label="With textarea"
              [(ngModel)]="text"></textarea>
  </div>
  <div>
    <button *ngIf="hasChanges()" [attr.disabled]="progress ? true : null" class="btn btn-primary" (click)="onSave()">
      <i *ngIf="progress" class="fa fa-spinner fa-spin"></i>
      <i *ngIf="!progress" class="fa fa-check"></i>
      <span></span>
      Сохранить
    </button>
    <p *ngIf="error" class="text-danger">Произошла ошибка, попробуйте повторить попытку позже</p>
  </div>
</div>
