<div class="component">
  <div class="input-group textarea">
    <textarea class="form-control" style="width: 100%; min-height:10rem" aria-label="With textarea"
              [ngModel]="text" (ngModelChange)="setText($event)"></textarea>
  </div>
  <div>
    <p *ngIf="!progress && !error && !loadError && !hasChanges" class="text-success text-center">изменения сохранены
    </p>
    <p *ngIf="!progress && !error && !loadError && hasChanges" class="text-primary text-center">изменения будут
      сохранены автоматически
    </p>
    <p *ngIf="progress" class="text-primary text-center"><i class="fas fa-spinner fa-spin text-icon"></i>сохраняем
      изменения</p>
    <p *ngIf="error" class="text-danger text-center"><i class="fas fa-exclamation-circle text-icon"></i>произошла ошибка
      при сохранении данных
    </p>
    <p *ngIf="loadError" class="text-danger text-center"><i class="fas fa-exclamation-circle text-icon"></i>произошла
      ошибка при загрузке
      данных, пожалуйста обновите страницу</p>
  </div>
</div>
