<div class="container h-100">
  <div class="row justify-content-center h-100">
    <div class="col-12 col-sm-10 col-md-6 col-lg-4 align-self-center">
      <h5 style="text-align:center">Пожалуйста устновите новый пароль</h5>
      <form [formGroup]="form" (ngSubmit)="onChangePassword(form.value)">
        <div class="form-group">
          <label for="password">
            Пароль
          </label>
          <input id="password" type="password" class="form-control" formControlName="password" placeholder="пароль">
        </div>
        <div class="form-group">
          <p *ngIf="error === ErrorType.Generic" class="text-danger">Произошла ошибка, пожалуйста повторите попытку
            позже или обратитесь в службу поддержки: hi@earninlove.com</p>
        </div>
        <button class="btn btn-primary" type="submit">Установить пароль</button>
      </form>
    </div>
  </div>
</div>
